@use "../../../app/styles/variables.scss" as variables;

.nav{
    width: 100vw;
    height: 10vh;
    position: relative;
    left: -0.5vw;
    top: -0.6vw;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 5%, rgba(43,64,54,1) 56%, rgba(52,78,65,1) 100%);
    align-content: center;
    justify-items: center;

    &_container{
        width: 80vw;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
    }

}

@media (max-width:600px){ 
    .nav{
        width: 100vw;
        height: 5vh;
        position: relative;
        left: -1.5vw;
        top: -2vw;
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,1) 5%, rgba(43,64,54,1) 56%, rgba(52,78,65,1) 100%);
        align-content: center;
        justify-items: center;
    
        &_container{
            width: 80vw;
            justify-content: space-between;
            display: flex;
            flex-direction: row;
        }
    
    }
}