.background{
    height: 45%;
    position: relative;
    background-image: url("/moovie.png");
    background-size: 100% 200%;
    background-repeat: no-repeat;
    background-position: center;
    width: 80%;
    align-content: center;

    &_container{
        align-content: center;
        width: 70vw;
        position: relative;
        position: relative;
        justify-items: center;
        justify-self: center;
        height: 80%;
        overflow: scroll;


        &_span_container{
            place-content: center;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            width: 70vw;
            inline-size: 60vw;
            overflow-wrap: break-word;

            & > span{
                width: 30vw;
                text-align: right;
                padding: 1%;
            }
    
            & > span:nth-child(2n){
                text-align: left;
            }

        }

    }

}

@media (max-width:600px){ 
    .background{
    height: 30%;
    position: relative;
    background-image: url("/moovie.png");
    background-size: 100% 200%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    align-content: center;

        &_container{
            align-items: center;
            width: 70vw;
            position: relative;
            position: relative;
            justify-items: center;
            justify-self: center;
            height: 80%;
            overflow: scroll;
            overflow-x: hidden;

            &_span_container{
                place-content: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;


                & > span{
                    text-align: center;
                    padding-top: 1rem;
                    inline-size: 60vw;
                    overflow-wrap: break-word;
                }
            
                & > span:nth-child(2n){
                    text-align: center;
                    padding-top: 0;
                }
            }
        }
    }
}
    
