@use "../../../app/styles/variables.scss" as variables;

.footer_container{
    width: 100vw;
    height: 10vh;
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 5%, rgba(43,64,54,1) 56%, rgba(52,78,65,1) 100%);

    border-left: 1px solid #344E41;
    border-right: 1px solid #344E41;
    border-top: 1px solid #344E41;
    border-radius: 20px 20px 0px 0px;

    -webkit-box-shadow: 0px 0px 12px 1px rgba(58,90,64,0.81); 
    box-shadow: 0px 0px 12px 1px rgba(58,90,64,0.81);

    &_icon_container{
        display: flex;
        flex-direction: row;
        width: 30vw;
        justify-content: space-between;
        &_icon{
            background-color: black;
        }
    }
    &_item{
        align-content: center;
    }

}

@media (max-width:600px){ 
    .footer_container{
        width: 100vw;
        height: 10vh;
        justify-content: center;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 5%, rgba(43,64,54,1) 56%, rgba(52,78,65,1) 100%);
    
        &_icon_container{
            display: flex;
            flex-direction: row;
            width: 30vw;
            justify-content: space-between;
            &_icon{
                background-color: black;
            }
        }
        &_item{
            align-content: center;
        }
    
    }
}